.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
}

.layout {
  display: grid;
  grid-template-columns: 260px minmax(400px, 1fr) 280px;
  gap: var(--gap-lg);
  padding: 0 var(--gap-lg);
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  margin-top: calc(85px + var(--gap-md)); /* Space under header */
  align-items: start; /* Allows columns to have separate heights */
}

.feed {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
  padding-bottom: 60px; 
}

.feed::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-columns: 240px minmax(380px, 1fr);
    padding: 0 var(--gap-md);
    gap: var(--gap-md);
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 70px; 
    gap: 0;
  }
  
  .feed {
    padding: var(--gap-sm);
    padding-bottom: 80px;
  }
}
